html, body{
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: gray;
}

.header-bar{
  background-color: gray;
  height: 8%;
  display: inline;
  padding-top: 25px!important;
}


#map{
  height: 92%;
}


.footer{
  position: absolute !important;
  bottom: 5px!important;
  left: 5px!important;
  z-index: 10000000!important;
  background-color: rgba(255, 255, 255, 0.5)
}
